@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* font-family: "Inter", sans-serif; */
}
.application_backgroud {
  background-color: black;
  height: 150px;
}
.middle-input {
  border-style: solid;
  border-color: var(--border-main-default, rgba(12, 34, 45, 0.09));
  border-width: 0px 0px 0px 0px !important;
}
/* .search-bar,
.search-bar * {
  box-sizing: border-box;
}
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 640px;
} */
.search-bar {
  max-width: 640px;
}
.search-details {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  background: white;
  border-radius: 999px;
  /* padding: 0px 0px 0px 8px; */
}
.input-item {
  border-style: solid;
  border-color: var(--border-main-default, rgba(12, 34, 45, 0.09));
  border-width: 0px 1px 0px 0px;
  padding: 24px 32px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden;
}
.mobile_show {
  display: none;
}
.input-item_2 {
  padding: 24px 32px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
}
.last-button {
  /* padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-text {
  color: var(--content-main-default-caption, #555f66);
  text-align: left;
  font: var(--label-l-100, 500 12px/16px "Inter", sans-serif);
  position: relative;
  align-self: stretch;
}
.placeholder-font {
  box-sizing: border-box;
  color: var(--content-main-default-placeholder, #6f787f);
  text-align: left;
  font: var(--text-t-400-desktop-regular, 400 20px/32px "Inter", sans-serif);
  position: relative;
  align-self: stretch;
}
.react-datepicker-wrapper {
  width: 0% !important;
}
.first-input {
  /* border-right: 1px solid rgb(214, 214, 214); */
}

input {
  border: none;
  height: 100%;
  /* height: 20px; */
  /* font-size: 16px; */
  /* width: auto; */
  overflow: hidden;
}
textarea:focus,
input:focus {
  outline: none;
}
input#datein[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 5%;
  position: absolute;
  right: 0;
  top: 10%;
  width: 44%;
}
input#dateOut[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 6%;
  position: absolute;
  right: 0;
  top: 10%;
  width: 84%;
}
input[type="date"]::-webkit-input-placeholder {
  color: white;
}
input[type="date"]::placeholder {
  /* Edge */
  color: white;
}
input[type="date"i] {
  /* color: #0966d7; */
  background-color: white !important;
  color: black !important;
  background: white !important;
  letter-spacing: 0.01em !important;
  font-family: Inter, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}

.search_icon-wrap {
  width: 4rem;
  height: 4rem;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #252a2d;
  border-radius: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: height 0.15s ease-out, width 0.15s ease-out,
    background-color 0.15s ease-out;
  display: grid;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(12, 34, 45, 0.09),
    0 0 1px 0.5px rgba(0, 0, 0, 0.09), 0 2px 12px rgba(12, 34, 45, 0.09);
}

.search_icon-wrap:hover {
  width: 4.25rem;
  height: 4.25rem;
  color: #f8f8f9;
  /* background-color: #485258; */
}

.search_icon-wrap:active {
  width: 3.75rem;
  height: 3.75rem;
  color: #e9ebec;
  background-color: #363d42;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.search_icon {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.inputPlaceholder {
  background-color: rgb(255, 255, 255);
  color: var(--content-main-default-placeholder, #6f787f);
  text-align: left;
  font: var(
    --text-t-400-tablet-mobile-regular,
    400 16px/24px "Inter",
    sans-serif
  );
  top: 36px;
  padding-bottom: 5px;
  position: absolute;
  width: 102px;
  pointer-events: none;
  align-self: stretch;
}
/* React Date calender edit  */
.react-datepicker {
  font-family: Inter, sans-serif !important;
  font-size: 0.875rem !important;
  color: rgba(54, 61, 66, 1) !important; /* Content/Main/Default/Text */
  border: none !important;
  box-shadow: 0px 0.5px 1px rgba(12, 34, 45, 0.09),
    0px 2px 12px rgba(12, 34, 45, 0.09),
    inset 0px 0px 0px 1px rgba(12, 34, 45, 0.09); /* Elevation/1dp */
  --react-datepicker-padding: 16px;
  --react-datepicker-border-radius: 16px;
  border-radius: var(--react-datepicker-border-radius) !important;
}
.react-datepicker__header {
  padding: var(--react-datepicker-padding) !important;
  border-top-right-radius: var(--react-datepicker-border-radius) !important;
  border-top-left-radius: var(--react-datepicker-border-radius) !important;
  border-bottom-color: rgba(
    12,
    34,
    45,
    0.09
  ) !important; /* Border/Main/Default */
  background-color: rgba(250, 250, 250, 1) !important;
}
.react-datepicker__month {
  padding: var(--react-datepicker-padding) !important;
  margin: 0px !important;
}
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before {
  border-top-color: rgba(12, 34, 45, 0.09) !important; /* Border/Main/Default */
  display: none !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  /* border: none !important; */
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before {
  /* border: none !important; */
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
.react-datepicker_year-read-view--down-arrow,
.react-datepicker_month-read-view--down-arrow,
.react-datepicker_month-year-read-view--down-arrow,
.react-datepicker_navigation-icon::before {
  border-color: rgb(82, 118, 144) !important; /* Content/Main/Default/Caption */
  border-width: 1px 2px 0 0 !important;
  top: 12px !important;
  height: 8px !important;
  width: 8px !important;
}
.react-datepicker__navigation--previous {
  left: 8px !important;
}
.react-datepicker__navigation--next {
  right: 8px !important;
}
/* Day */
.react-datepicker_day-name,
.react-datepicker_day,
.react-datepicker__time-name {
  color: rgba(54, 61, 66, 1) !important; /* Content/Main/Default/Text */
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 999px !important;
}
.react-datepicker_day:hover,
.react-datepicker_month-text:hover,
.react-datepicker_quarter-text:hover,
.react-datepicker_year-text:hover {
  background-color: rgba(
    22,
    22,
    55,
    0.03
  ) !important; /* Background/Main/Default/Hover Alpha */
}
.react-datepicker__day--selected {
  background-color: rgba(
    9,
    102,
    215,
    1
  ) !important; /* Background/Main/Accent/Default */
  color: white !important;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999em !important;
}
.react-datepicker__day--selected:hover {
  border-radius: 999em !important;
}
.react-datepicker__day {
  border-radius: 999em !important;
}
.react-datepicker_day--disabled,
.react-datepicker_month-text--disabled,
.react-datepicker_quarter-text--disabled,
.react-datepicker_year-text--disabled {
  color: rgba(
    111,
    120,
    127,
    1
  ) !important; /* Content/Main/Default/Placeholder */
}
@media only screen and (max-width: 991px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: 400px;
    position: relative;
  }
  .search-field {
    background: var(--background-main-default-default, #ffffff);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
      --elevation-1-dp-box-shadow,
      0px 2px 12px 0px rgba(12, 34, 45, 0.09),
      0px 0.5px 1px 0px rgba(12, 34, 45, 0.09),
      inset 0px 0px 0px 1px rgba(12, 34, 45, 0.09)
    );
    overflow: hidden;
  }
  .placeholder-font {
    color: #6f787f;
    text-align: left;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
  }

  /* input {
    border: none;
    height: 32px;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
  } */
  /* textarea:focus,
  input:focus {
    outline: none;
  } */

  .last-button {
    display: none;
  }
  .search-details {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .mobile_show {
    display: block;
    border: 0px;
    max-width: 25.25rem;
    /* border-radius: 999px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    background: var(--background-main-accent-default, #0966d7);
    border-radius: 999px;
    flex-shrink: 0;
    position: relative; */
  }
  .search_button-wrapper {
    width: 25.25rem;
    height: 3.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    /* padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative; */
  }

  .search_button-2 {
    width: 25rem;
    height: 3rem;
    color: #fff;
    background-color: #0966d7;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    transition: height 0.15s ease-out, width 0.15s ease-out,
      background-color 0.15s ease-out;
    display: flex;
    /* padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative; */
  }

  .search_button-2:hover {
    width: 25.25rem;
    height: 3.25rem;
    background-color: #1271f8;
  }

  .search_button-2:active {
    width: 24.75rem;
    height: 2.75rem;
    background-color: #045bbe;
  }

  .button_link {
    color: var(--core-base-white, #ffffff);
    text-align: left;
    font: var(--label-l-300, 600 16px/24px "Inter", sans-serif);
    position: relative;
  }
  &.clicked {
    .search_button-2 {
      width: 24.75rem;
      height: 2.75rem;
      background-color: #045bbe;
      transition: height 0.15s ease-out, width 0.15s ease-out,
        background-color 0.15s ease-out;
    }
  }
  .first-input {
    /* border-right: 1px solid rgb(214, 214, 214) !important; */
  }
  .button_link.black-bg {
    color: #6696ff;
  }
  .nativeInputFont {
    letter-spacing: 0.01em;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    font-weight: 400;
  }
  .input-item {
    border-style: solid;
    border-color: var(--border-main-default, rgba(12, 34, 45, 0.09));
    border-width: 0px 1px 0px 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    overflow: hidden;
  }
  .title-text {
    color: var(--content-main-default-caption, #555f66);
    text-align: left;
    font: var(--label-l-100, 500 12px/16px "Inter", sans-serif);
    position: relative;
    align-self: stretch;
  }
  .input-item_2 {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .search-bar,
  .search-bar * {
    box-sizing: border-box;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .search-field {
    background: var(--background-main-default-default, #ffffff);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(
      --elevation-1-dp-box-shadow,
      0px 2px 12px 0px rgba(12, 34, 45, 0.09),
      0px 0.5px 1px 0px rgba(12, 34, 45, 0.09),
      inset 0px 0px 0px 1px rgba(12, 34, 45, 0.09)
    );
    overflow: hidden;
  }
  .inputPlaceholder {
    top: 36px;
  }
}
@media only screen and (max-width: 390px) {
  .search_button-wrapper {
    max-width: 310px;
  }
}

@media only screen and (max-width: 375px) {
  .search_button-2 {
    width: 23.4rem;
  }
  .search_button-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .search_button-2 {
    width: 20rem;
  }
  .search_button-wrapper {
    width: 100%;
  }
}
