@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* font-family: "Inter", sans-serif; */
}
.application_backgroud {
  background-color: black;
  height: 150px;
}
.search-component {
  max-width: 640px;
  max-height: 96px;
}
.search-field {
}
.search-details {
  position: relative;
  display: flex;
  /* justify-content: start; */
  max-width: 640px;
  max-height: 96px;
  border-radius: 50px;
  background: white;
}
.input-item {
  border: 0px;
  color: black;
  padding-left: 32px;
  width: 268px;
  height: 96px;
  display: flex;
  /* margin: 32px 24px; */
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.last-button {
  width: 96px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  height: 96px;
  flex-direction: column;
}
.title-text {
  color: #555f66;
  text-align: left;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}
.placeholder-font {
  color: #6f787f;
  text-align: left;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  /* margin-bottom: 8px; */
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  width: 204px;
}

.btn {
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 50%;
  background-color: #252a2d;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #485258;
  height: 68px;
  width: 68px;
  transition: background-color 0.15s ease-out;
}
/* input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
} */
.locationdetails {
  font-family: "Inter", sans-serif;
  color: #363d42;
  line-height: 24px;
}
.inputDate {
  font-family: "Inter", sans-serif;
  color: #6f787f;
  line-height: 24px;
  overflow: hidden;
}

.inputDate {
  overflow: hidden !important;
}
.first-input {
  border-right: 1px solid rgb(214, 214, 214);
}
.last-input {
}

input {
  border: none;
  height: 20px;
  font-size: 16px;
  width: auto;
  /* background-color: #0966d7; */
  overflow: hidden;
}
textarea:focus,
input:focus {
  outline: none;
}
.date {
  color: black;
  margin-left: 343px;
  position: absolute;
}
.mobileFlex {
  display: flex;
}

.input-container input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: 0.75rem;
  position: relative;
  width: 100%;
}

input#datein[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 30%;
  position: absolute;
  right: 0;
  top: 10%;
  width: 28%;
}
input#dateOut[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 62%;
  position: absolute;
  right: 0;
  top: 10%;
  width: 28%;
}
input[type="date"]::-webkit-input-placeholder {
  color: white;
}
input[type="date"]::placeholder {
  /* Edge */
  color: white;
}
input[type="date"i] {
  /* color: #0966d7; */
  background-color: white !important;
  color: black !important;
  background: white !important;
}
.inputPlaceholder {
  background-color: white;
  position: absolute;
  top: 40px;
  width: 103px;
  padding: 5px 0px;
  pointer-events: none;
  font-family: "Inter", sans-serif;
  color: #6f787f;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
}
/* React Date calender edit  */
.react-datepicker {
  font-family: Inter, sans-serif !important;
  font-size: 0.875rem !important;
  color: rgba(54, 61, 66, 1) !important; /* Content/Main/Default/Text */
  border: none !important;
  box-shadow: 0px 0.5px 1px rgba(12, 34, 45, 0.09),
    0px 2px 12px rgba(12, 34, 45, 0.09),
    inset 0px 0px 0px 1px rgba(12, 34, 45, 0.09); /* Elevation/1dp */
  --react-datepicker-padding: 16px;
  --react-datepicker-border-radius: 16px;
  border-radius: var(--react-datepicker-border-radius) !important;
}
.react-datepicker__header {
  padding: var(--react-datepicker-padding) !important;
  border-top-right-radius: var(--react-datepicker-border-radius) !important;
  border-top-left-radius: var(--react-datepicker-border-radius) !important;
  border-bottom-color: rgba(
    12,
    34,
    45,
    0.09
  ) !important; /* Border/Main/Default */
  background-color: rgba(250, 250, 250, 1) !important;
}
.react-datepicker__month {
  padding: var(--react-datepicker-padding) !important;
  margin: 0px !important;
}
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before {
  border-top-color: rgba(12, 34, 45, 0.09) !important; /* Border/Main/Default */
}
.react-datepicker_year-read-view--down-arrow,
.react-datepicker_month-read-view--down-arrow,
.react-datepicker_month-year-read-view--down-arrow,
.react-datepicker_navigation-icon::before {
  border-color: rgba(
    85,
    95,
    102,
    1
  ) !important; /* Content/Main/Default/Caption */
  border-width: 2px 2px 0 0 !important;
  top: 12px !important;
  height: 8px !important;
  width: 8px !important;
}
.react-datepicker__navigation--previous {
  left: 8px !important;
}
.react-datepicker__navigation--next {
  right: 8px !important;
}
/* Day */
.react-datepicker_day-name,
.react-datepicker_day,
.react-datepicker__time-name {
  color: rgba(54, 61, 66, 1) !important; /* Content/Main/Default/Text */
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 999px !important;
}
.react-datepicker_day:hover,
.react-datepicker_month-text:hover,
.react-datepicker_quarter-text:hover,
.react-datepicker_year-text:hover {
  background-color: rgba(
    22,
    22,
    55,
    0.03
  ) !important; /* Background/Main/Default/Hover Alpha */
}
.react-datepicker__day--selected {
  background-color: rgba(
    9,
    102,
    215,
    1
  ) !important; /* Background/Main/Accent/Default */
  color: white !important;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999em !important;
}
.react-datepicker__day--selected:hover {
  border-radius: 999em !important;
}
.react-datepicker_day--disabled,
.react-datepicker_month-text--disabled,
.react-datepicker_quarter-text--disabled,
.react-datepicker_year-text--disabled {
  color: rgba(
    111,
    120,
    127,
    1
  ) !important; /* Content/Main/Default/Placeholder */
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 568px) {
}
@media only screen and (max-width: 320px) {
}
